/*==========Цветовая палитра==========*/ 
$form-auth-shadow-background: rgba(0,0,0,0.8);
$form-auth-background:rgba(60, 76, 90, 0.9);

$form-auth-input-background: rgba(0, 0, 0, 0.3);
$form-auth-input-color: white;

$form-auth-submit-background: rgba(32, 117, 189, 0.9);
$form-auth-submit-color: #040615;

$post-form-input-color: #040615;
$post-form-input-background: #f2f2f2;



/*==========Цветовая палитра==========*/ 

/*==========FONTS==========*/ 
@font-face {
  font-family: segoe-ui-sumbol;
  src: url("../fonts/segoe-ui-symbol.ttf");
}

@font-face {
  font-family: segoe-wp-light;
  src: url("../fonts/segoe-wp-light.ttf");
}

@font-face {
  font-family: segoe-print-bold;
  src: url("../fonts/segoe-print-bold.ttf");
}

@font-face {
  font-family: segoe-ui-bold-italic;
  src: url("../fonts/segoe-ui-bold-italic.ttf");
}
/*==========FONTS==========*/ 


/*====================FORMS====================*/ 

/*         formAuth          */
.formAuth {
  display: none;
  align-items: center;
  justify-content: center;

  position: fixed;
  z-index: 10;
  left: 0;top: 0;
  right: 0;bottom: 0;
  box-sizing: border-box;
  background-color: $form-auth-shadow-background;
  
  .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    box-sizing: border-box;
    width: 600px;
    background: $form-auth-background;
    padding: 30px;
    border-radius: 10px;

    > p {
      flex-grow: 1;
      font-family: segoe-wp-light;
      font-size: 30px;
      margin-bottom: 10px;
    }

    > .userName, > input[type="password"] {      
      flex-grow: 1;
      width: 100%;

      height: 40px;

      border: 1px solid #1D2D3B;
      border-radius: 5px;

      font-family: segoe-wp-light;
      font-size: 20px;
      color: $form-auth-input-color;
      padding: 0 20px;

      margin: 5px 0;

      background: $form-auth-input-background;
      box-shadow: 0 0 6px #000;
      box-sizing: border-box;
    }


    > input[type="submit"] {
      width: 90%;
      height: 40px;

      border: 1px solid #000;
      border-radius: 5px;

      font-family: segoe-wp-light;
      font-size: 20px;
      color: $form-auth-submit-color;

      margin: 5px auto;
      background: $form-auth-submit-background;
      box-shadow: 0 0 6px #000;
      box-sizing: border-box;
    }

  }
}










/*           postFormTypeTextGlobal               */
.post-form-type-text-global {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;

  margin: 5px 0;
  box-sizing: border-box;

  >input[type="text"] {
    box-sizing: border-box;
    width: 88%;
    height: 50px;

    font-family: segoe-wp-light;
    font-size: 20px;
    color: $post-form-input-color;

    padding: 0 10px;
    border: 1px solid #d6d6d6;
    border-radius: 3px;

    background-color: $post-form-input-background;
  }

  >.button{
    box-sizing: border-box;
    width: 12%;

    border: 1px solid #d6d6d6;
    border-radius: 3px;
    background: transparent;

    &:focus {
      outline: none;
    }

    &:active {
      outline: none;
      
    }

    >i{
      font-size: 20px;
    }
  }
}
/*====================FORMS====================*/ 
