/*==========Цветовая палитра==========*/ 
$background: #003545;
$head-background: #c4ffdd;
$shadow-layer: rgba(51, 50, 51, 0.685);
$post-background: #f9f9f9;
$head-text: #040615;
$post-text: #040615;
$input-text: #040615;
$input-background: white;
$img-layer-post-background: rgba(0,0,0,.3);
$text-layer-post-background: white;
/*==========Цветовая палитра==========*/ 
/*==========FONTS==========*/ 
@font-face {
  font-family: segoe-ui-sumbol;
  src: url("../fonts/segoe-ui-symbol.ttf");
}

@font-face {
  font-family: segoe-wp-light;
  src: url("../fonts/segoe-wp-light.ttf");
}

@font-face {
  font-family: segoe-print-bold;
  src: url("../fonts/segoe-print-bold.ttf");
}

@font-face {
  font-family: segoe-ui-bold-italic;
  src: url("../fonts/segoe-ui-bold-italic.ttf");
}
/*==========FONTS==========*/ 



/*            shadow-layer           */
.shadow-layer{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  
  background-color: $shadow-layer;

  .btn-close{
    position: sticky;
    top: 30px;
    left: 93%;
    z-index: 20;
    width: 35px;
    height: 35px;
    background: transparent;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    
    &:hover{
      border: 1px solid white;
      border-radius: 5px;
    }

    &:focus{
      outline: none;
    }

    >i {
      color: #fff;
    }
  }
}








//=================================================



























/*         formAuth          */
.formAuth, .formRegistration {
  position: fixed;
  z-index: 10;
  left: 0;top: 0;
  box-sizing: border-box;
  .form {
    width: 500px;
    background: rgba(60, 76, 90, 0.9);
    padding: 30px;
    border-radius: 10px;

    > p {
      font-family: segoe-wp-light;
      font-size: 30px;
      margin-bottom: 10px;
    }

    > .userName, > input[type="email"], > input[type="password"] {
      width: 100%;
      height: 40px;

      border: 1px solid #1D2D3B;
      border-radius: 5px;

      font-family: segoe-wp-light;
      font-size: 20px;
      padding: 0 20px;

      margin: 5px 0;

      background: rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 6px #000;
      box-sizing: border-box;
    }

    >.textOfImage{
      width: 40%;
      height: 40px;

      border: 1px solid #1D2D3B;
      border-radius: 5px;

      font-family: segoe-wp-light;
      font-size: 20px;
      padding: 0 20px;

      margin: 5px 0;

      background: rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 6px #000;
      box-sizing: border-box;
    }
    >img{
      display: inline-block;
      float: right;
      width: 40%;
      height: 40px;

      border-radius: 5px;

      margin: 5px 0;

      box-shadow: 0 0 6px #000;
      box-sizing: border-box;
    }


    > input[type="submit"] {
      display: block;
      width: 95%;
      height: 40px;

      border: 1px solid #000;
      border-radius: 5px;

      font-family: segoe-wp-light;
      font-size: 20px;

      margin: 5px auto;
      background: rgba(32, 117, 189, 0.9);
      box-shadow: 0 0 6px #000;
      box-sizing: border-box;
    }

    > input[type="submit"]:focus, > .userName:focus, > input[type="email"]:focus, > input[type="password"]:focus, >.textOfImage:focus {
      // outline: none;
    }
  }
}






/*              layerPost                */
div.layer-post{
  position: fixed;
  box-sizing: border-box;
  z-index: 10;
  top:0;
  left: 0;
  width: 1024px;
  padding: 5px;

  border-radius: 5px;
 
  box-shadow: 0 0 10px rgba(0,0,0,0.5);



  .layer-left{
    display: block;
    float: left;
    width: 70%;
    height: 100%;

    background-color: $img-layer-post-background;
    border-radius: 4px;
    box-sizing: border-box;

    .img-layer-post{
      width: 100%;

    }
  }



  .layer-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: right;
    width: 29%;
    height: 100%;
    padding: 10px;

    background-color: $text-layer-post-background;
    border-radius: 4px;
    box-sizing: border-box;

    >p.text-layer-post{
      width: 100%;
      color: $post-text;
      font-size: 15px;
      font-family: segoe-wp-light;
      overflow: auto;
      
    }

    >div.bottom{
      
    }
  }

}

