//@import url("forScript.css") ;
/*==========Цветовая палитра==========*/ 
$background: #003545;
$head-background: #c4ffdd;
$shadow-layer: rgba(51, 50, 51, 0.685);
$post-background: #f9f9f9;
$head-text: #040615;
$post-text: #040615;
$input-text: #040615;
$input-background: white;
/*==========Цветовая палитра==========*/ 

/*==========FONTS==========*/ 
@font-face {
  font-family: segoe-ui-sumbol;
  src: url("../fonts/segoe-ui-symbol.ttf");
}

@font-face {
  font-family: segoe-wp-light;
  src: url("../fonts/segoe-wp-light.ttf");
}

@font-face {
  font-family: segoe-print-bold;
  src: url("../fonts/segoe-print-bold.ttf");
}

@font-face {
  font-family: segoe-ui-bold-italic;
  src: url("../fonts/segoe-ui-bold-italic.ttf");
}
/*==========FONTS==========*/ 



* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;

  color: $head-text;
  font-family: segoe-wp-light;
  font-size: 16px;
  font-weight: normal;
}

body {
  width: 100%;
  position: relative;
}

.main {
  width: 100%;

  background-color: $background;
}

.centered {
  max-width: 1024px;
  min-width: 680px;
  margin: 0 auto;
  box-sizing: border-box;
}

/*        header        */

header {
  width: 100%;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #fff;

  background: $head-background;
  // background: linear-gradient(0deg, transparent, rgba(255, 255, 255, 0.4));


  .centered {
    overflow: hidden;
    padding: 0 5px;


    .nav {
      float: right;
      text-align: right;
      margin-right: 10px;

      li {
        display: inline-block;
        margin-left: 10px;

        >a {
          display: inline-block;
          font-family: segoe-print-bold;
          font-size: 14px;
          text-transform: capitalize;

          padding: 8px 0 6px;
          border-bottom: 2px solid transparent;
          cursor: pointer;

          transition: all 200ms linear;
          &:last-child {
            padding-right: 0;
          }
          &:hover{
            border-bottom: 2px solid #fff;
          }
        }
      }
    }

    .logoHome {
      text-align: left;

      >a {
        display: block;

        width: 200px;
        height: 35px;

        font-family: segoe-print-bold;
        font-size: 20px;
        padding: 2px 0;

        color: $head-text;



        // background: url("../img/reallife---.png") no-repeat center;
        // background-size: 150px 30px;
      }
    }
  }
}



/*           content               */

.content{
  width: 100%;

  .centered{
    overflow: hidden;
    padding: 30px;

    .container-left{
      float: left;
      width: 45%;
    }
    
    .container-right{
      float: right;
      width: 45%;
    }

    .container-center{
      width: 10%;
      margin: 0 45%;  
      .vertical-line-top{
        width: 25px;
        height: 25px;
        margin: 0 auto;
        border: 5px solid #c4ffdd;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
      .vertical-line{
        margin: 0 auto;
        display: block;
        width: 6px;
        background-color: #c4ffdd;
      }
    }
  }
}




/*          content-box-big             */
.box-big {
  box-sizing: border-box;
  width: 100%;
  margin: 30px 0;
  padding: 18px;

  border-radius: 6px;
  background-color: $post-background;

  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}



/*          content-box-small             */
.box-small {
  box-sizing: border-box;
  width: 100%;
  margin: 30px 0;
  padding: 18px;

  border-radius: 6px;
  background-color: $post-background;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}










/*            GLOBAL ELEMENTS          */
/*-------------------------------------*/


/*               post-text             */
/*    все тексты связанные с постом    */
p.post-text {
  display: inline-block;

  font-family: segoe-wp-light;
  font-size: 16px;
  color: $post-text;

  margin-bottom: 5px;
}



/*              imgForPostGlobal             */
img.imgPostGlobal{
  box-sizing: border-box;
  width: 100%;

  margin: 5px 0;
}





/*           shareGlobal               */
div.shareGlobal {
  box-sizing: border-box;
  width: 100%;

  margin: 5px 0;

  > ul > li {
    display: inline-block;

    > a {
      display: block;
      width: 25px;
      height: 25px;

      margin: 0 5px;
      background: url("../img/socSprite.png") no-repeat;

    }

    > a.link {
      background-position: -63px -11px;
    }

    > a.vk {
      background-position: -7px -40px;
    }

    > a.ok {
      background-position: -119px -40px;
    }

    > a.tw {
      background-position: -35px -11px;
    }
  }
}




/*           postFormTypeTextGlobal               */
form.postFormTypeTextGlobal {
  width: 100%;
  margin: 5px 0;
  box-sizing: border-box;

  >input[type="text"] {
  box-sizing: border-box;
  vertical-align: top;
    width: 85%;
    height: 50px;

    font-family: segoe-wp-light;
    font-size: 20px;
    color: #4e4e4e;

    padding: 0 10px;
    border: 1px solid #d6d6d6;
    border-radius: 3px;

    background-color: #f2f2f2;
  }

  >button[type="submit"] {
    box-sizing: border-box;
    vertical-align: top;
    float: right;
    width: 12%;
    height: 50px;

    border: 1px solid #d6d6d6;
    border-radius: 3px;
    background: transparent;

    &:focus {
      outline: none;
    }

    &:active {
      outline: none;
      
    }

    >i{
      font-size: 20px;
    }
  }
}
/*           END GLOBAL ELEMENTS          */

