/*==========Цветовая палитра==========*/ 
$background: #003545;
$head-background: #c4ffdd;
$shadow-layer-background: rgba(0,0,0,0.8);
$head-text: #040615;

$post-background: #f9f9f9;
$post-text: #040615;
$img-layer-post-background: rgba(0,0,0,.3);
$text-layer-post-background: white;
/*==========Цветовая палитра==========*/ 

/*==========FONTS==========*/ 
@font-face {
  font-family: segoe-ui-sumbol;
  src: url("../fonts/segoe-ui-symbol.ttf");
}

@font-face {
  font-family: segoe-wp-light;
  src: url("../fonts/segoe-wp-light.ttf");
}

@font-face {
  font-family: segoe-print-bold;
  src: url("../fonts/segoe-print-bold.ttf");
}

@font-face {
  font-family: segoe-ui-bold-italic;
  src: url("../fonts/segoe-ui-bold-italic.ttf");
}
/*==========FONTS==========*/ 



* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;

  color: $head-text;
  font-family: segoe-wp-light;
  font-size: 16px;
  font-weight: normal;
}

body {
  width: 100%;
  min-height: 100%;
  position: relative;
}

.main {
  width: 100%;
  min-height: 100%;
  background-color: $background;
}

.centered {
  max-width: 1024px;
  min-width: 680px;
  margin: 0 auto;
  box-sizing: border-box;
}

/*        header        */

header {
  width: 100%;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #fff;

  background: $head-background;


  .centered {
    overflow: hidden;
    padding: 0 5px;
    
    .open-bar{
      display: none;
    }

    .bar{ 
      float: right;
      margin-left: 10px;

      .button-user-natification{
        display: inline-block;
        padding: 8px 8px;
        cursor: pointer;

        >i{
          font-size: 18px;
        }
      }
    }

    .nav {
      float: right;
      width: 50%;
      text-align: right;
      margin-right: 10px;

      li {
        display: inline-block;
        margin-left: 10px;

        >a {
          display: inline-block;
          font-family: segoe-print-bold;
          font-size: 14px;
          text-transform: capitalize;

          padding: 8px 0 6px;
          border-bottom: 2px solid transparent;
          cursor: pointer;

          transition: all 200ms linear;
          &:last-child {
            padding-right: 0;
          }
          &:hover{
            border-bottom: 2px solid #fff;
          }
        }

        
      }
    }

    .logoHome {
      text-align: left;

      >a {
        display: block;

        width: 200px;
        height: 35px;

        font-family: segoe-print-bold;
        font-size: 20px;
        padding: 2px 0;

        color: $head-text;
      }
    }
  }
}



/*           content               */

.content{
  width: 100%;

  .centered{
    overflow: hidden;
    padding: 30px;

    .container-left{
      float: left;
      width: 45%;
    }
    
    .container-right{
      float: right;
      width: 45%;
    }

    .container-center{
      width: 10%;
      margin: 0 45%;  
      .vertical-line-top{
        width: 25px;
        height: 25px;
        margin: 0 auto;
        border: 5px solid #c4ffdd;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
      .vertical-line{
        margin: 0 auto;
        display: block;
        width: 6px;
        background-color: #c4ffdd;
      }
    }
  }
}




/*          content-box-big             */
.box-big {
  box-sizing: border-box;
  width: 100%;
  margin: 30px 0;
  padding: 18px;

  border-radius: 6px;
  background-color: $post-background;

  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}



/*          content-box-small             */
.box-small {
  box-sizing: border-box;
  width: 100%;
  margin: 30px 0;
  padding: 18px;

  border-radius: 6px;
  background-color: $post-background;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



// =========================================================

/*               post-text             */
/*    все тексты связанные с постом    */
p.post-text {
  display: inline-block;

  font-family: segoe-wp-light;
  font-size: 16px;
  color: $post-text;

  margin-bottom: 5px;
}



/*              imgForPostGlobal             */
img.imgPostGlobal{
  box-sizing: border-box;
  width: 100%;

  margin: 5px 0;
}


/*                       btn-close                       */
.btn-close{
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 9999;
  width: 35px;
  height: 35px;
  background: transparent;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  
  &:hover{
    border: 1px solid white;
    border-radius: 5px;
  }

  &:focus{
    outline: none;
  }

  >i {
    color: #fff;
    font-size: 30px;
  }
}


/*              layer-post                */
.layer-post{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $shadow-layer-background;

  .head-layer-post{
    display: none;
  }

  .cont-layer-post{
    display: flex;
    flex-direction: row;

    max-width: 1024px;
    height: 490px;
    padding: 5px;
    box-sizing: border-box;

    border-radius: 5px;
  
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
    .layer-left{
      display: flex;
      width: 70%;
      margin: auto;

      background-color: $img-layer-post-background;
      border-radius: 4px;
      box-sizing: border-box;

      padding-right: 6px;
      .img-layer-post{
        margin: auto;
      }
    }

    .layer-right{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      width: 30%;
      padding: 10px;
  
      background-color: $text-layer-post-background;
      border-radius: 4px;
      box-sizing: border-box;
  
      >p.text-layer-post{
        width: 100%;
        color: $post-text;
        font-size: 15px;
        font-family: segoe-wp-light;
        overflow: auto;
        
      }
  
      >div.bottom{
        
      }
    }
  }

  .foot-layer-post{
    display: none;
  }
}


/*              swipe-bar                */
.swipe-bar{
  display: none;  
}







#loading{
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;bottom: 0;
  left: 0;right: 0;
  background-color: #fff;
  z-index: 9999;
  img{
    width: 100px;
    height: 100px;
  }
}