// 1200px
// 992px
// 768px
// 480px
// 320px



@media screen and (min-width:480px) and (max-width:800px) {
  /* Target landscape smartphones, portrait tablets, narrow desktops*/
  .centered{
    max-width: 800px;
    min-width: 480px;
  }
  header{

    .centered{
      position: relative;
      
      .button-nav{
        display: block;
        position: absolute;
        top: 1px;
        right: 6px;

        padding: 4px 8px;
        border: 1px solid black;
        border-radius: 3px;

      }
      .nav{
        position: absolute;
        top: 0;
        right: -70%;
        width: 70%;//=============================ЗДЕСЬ ОСТАНОВИЛСЯ=======
        li{

          >a{
            font-size: 11px;
            
            padding: 6px 0 5px;
          }
        }
      }

      .logoHome{
        >a{
          width: 200px;
          height: 28px;

          font-size: 18px;
        }
      }
    }
  }




/*           content               */

.content{
  width: 100%;

  .centered{
    overflow: hidden;
    padding: 10px;

    .container-left{
      width: 45%;
    }
    
    .container-right{
      width: 45%;
    }

    .container-center{
      width: 10%;
      margin: 0 45%;  

      .vertical-line-top{
        width: 20px;
        height: 20px;
        margin: 0 auto;
        border: 3px solid #c4ffdd;
      }

      .vertical-line{
        margin: 0 auto;
        width: 4px;
      }
    }
  }
}




/*          content-box-big             */
.box-big {
  box-sizing: border-box;
  width: 100%;
  margin: 20px 0;
  padding: 10px;

  border-radius: 4px;
}


/*          content-box-small             */
.box-small {
  width: 100%;
  margin: 20px 0;
  padding: 10px;

  border-radius: 4px;
}





  /*            GLOBAL ELEMENTS          */
  /*-------------------------------------*/


  /*               post-text             */
  /*    все тексты связанные с постом    */
  p.post-text {
    font-size: 13px;

    margin-bottom: 3px;
  }



  /*              imgForPostGlobal             */
  img.imgPostGlobal{
    width: 100%;

    margin: 3px 0;
  }





  /*           shareGlobal               */
  div.shareGlobal {
    width: 100%;

    margin: 3px 0;

    > ul > li {
      display: inline-block;

      > a {
        width: 25px;
        height: 25px;

        margin: 0 5px;

      }
    }
  }




  /*           postFormTypeTextGlobal               */
  form.postFormTypeTextGlobal {

    >input[type="text"] {   
      height: 30px;

      font-size: 14px;

      padding: 0 10px;

    }

    >button[type="submit"] {      

      &:focus {

      }

      &:active {
        
      }

      >i{
        font-size: 14px;
      }
    }
  }
  /*           END GLOBAL ELEMENTS          */
  // =========================================


  /*============forScript.scss============*/




/*            shadow-layer           */
.shadow-layer{

  .btn-close{
    position: fixed;
    z-index: 20;
    
    &:hover{

    }

    &:focus{

    }

    >i {

    }
  }
}

//=================================================




/*         formAuth          */
.formAuth, .formRegistration {

  .form {
    width: 350px;
    height: 250px;


    > p {
      font-size: 20px;
    }

    > .userName, > input[type="password"] {
      height: 30px;

      font-size: 14px;
      padding: 0 14px;
    }

    > input[type="submit"] {
      height: 30px;

      font-size: 14px;
    }
  }
}






/*              layerPost                */
div.layer-post{
  padding: 5px;

  .layer-left{
    float: none;
    margin: 0 auto;

    .img-layer-post{

    }
  }



  .layer-right{
    display: none;

    >div.bottom{
      
    }
  }

}

  /*============END forScript.scss============*/




}


@media screen and (max-width:479px) {
  /* Target portrait smartphones */
  
  
}