/*==========Цветовая палитра==========*/ 
$text-layer-post-background-AND-box-shadow-for-small-screens: rgba(0,0,0,.7);
$swipe-bar-background-AND-box-shadow: rgba(0,0,0,.8);
$swipe-bar-head-bar-background: rgba(128,128,128,.8);

$button-user-natification-color: #fff;
$close-bar-color: #fff;

$nav-border-bottom-color: rgba(255,255,255,.4);

$form-auth-shadow-background: rgba(60, 76, 90, 0.966);


/*==========Цветовая палитра==========*/ 

/*==========FONTS==========*/ 
@font-face {
  font-family: segoe-ui-sumbol;
  src: url("../fonts/segoe-ui-symbol.ttf");
}

@font-face {
  font-family: segoe-wp-light;
  src: url("../fonts/segoe-wp-light.ttf");
}

@font-face {
  font-family: segoe-print-bold;
  src: url("../fonts/segoe-print-bold.ttf");
}

@font-face {
  font-family: segoe-ui-bold-italic;
  src: url("../fonts/segoe-ui-bold-italic.ttf");
}
/*==========FONTS==========*/ 


@media screen and (min-width:480px) and (max-width:800px) {
  /* Target landscape smartphones, portrait tablets, narrow desktops*/
  .centered{
    max-width: 800px;
    min-width: 480px;
  }

  header{

    .centered{
      position: relative;
      
      .open-bar{
        display: block;
        position: absolute;
        top: 1px;
        right: 4px;
      
        cursor: pointer;
        padding: 4px 8px;

        >i{
          font-size: 18px;
        }
      }

      .bar{
        display: none;        
      }
      
      
      .nav{
        display: none;
      }

      .logoHome{
        >a{
          width: 200px;
          height: 28px;

          font-size: 18px;
        }
      }
    }
  }



  /*           content               */
  .content{
    width: 100%;

    .centered{
      overflow: hidden;
      padding: 10px;

      .container{
        width: 100%;
      }
    }
  }


  /*          content-box-big             */
  .box-big {
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
    padding: 10px;

    border-radius: 4px;
  }


  /*          content-box-small             */
  .box-small {
    width: 100%;
    margin: 20px 0;
    padding: 10px;

    border-radius: 4px;
  }





// ===================================================================
  /*               post-text             */
  /*    все тексты связанные с постом    */
  p.post-text {
    font-size: 13px;

    margin-bottom: 3px;
  }


  /*              imgForPostGlobal             */
  img.imgPostGlobal{
    width: 100%;

    margin: 3px 0;
  }


  /*                   btn-close                   */
  .btn-close{
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;

    >i{
      font-size: 20px;
    }
  }


  /*              layer-post                */
  .layer-post{

    .head-layer-post{
      display: none;
    }

    .cont-layer-post{
      flex-direction: column;
      position: relative;

      width: 100%;
      height: 400px;
      
      .layer-left{
        width: 100%;
        margin: auto;

        .img-layer-post{

        }
      }

      .layer-right{
        display: flex;
        position: absolute;
        width: 100%;
        bottom: 0px;
    
        padding: 0;
        background-color: $text-layer-post-background-AND-box-shadow-for-small-screens;
        box-shadow: -5px -10px 10px 10px $text-layer-post-background-AND-box-shadow-for-small-screens;      
        box-sizing: border-box;
    
        >p.text-layer-post{
          width: 100%;
          color: white;
          font-size: 12px;
          font-family: segoe-wp-light;
          
        }
    
        >div.bottom{
          display: none;
        }
      }
    }

    .foot-layer-post{
      display: none;
    }
  }


  /*              swipe-bar                */
  .swipe-bar{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -310px;
    bottom: 0;
    width: 300px;
    background-color: $swipe-bar-background-AND-box-shadow;
    box-shadow: -8px 0 10px 2px $swipe-bar-background-AND-box-shadow;

    transition: all .4s ease-in-out;
    
    .head-bar{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: 35px;
      background-color: $swipe-bar-head-bar-background;

      .button-user-natification{
        padding: 8px 8px;
        cursor: pointer;

        >i{
          color: $button-user-natification-color;
          font-size: 18px;
        }
      }

      .close-bar{
        padding: 8px 8px;
        cursor: pointer;
      
        > i{
          color: $close-bar-color;
          font-size: 18px;
        }
      }
    }

    .cont-bar{
      box-sizing: border-box;
      padding: 4px 10px;
      .nav{
    
        li{
          padding: 4px 0;
          border-bottom: 1px solid $nav-border-bottom-color;
          >a{
            font-family: segoe-print-bold;
            font-size: 16px;
            color: white;
            text-transform: capitalize;
            padding: 6px 0 5px;
          }
        }
      }
    }
  }


  

  //============ANOTHER FILE===============


  /*           forms.css postFormTypeTextGlobal               */
  form.post-form-type-text-global {

    >input[type="text"] {   
      height: 40px;

      font-size: 14px;

      padding: 0 5px;

    }

    >button[type="submit"] {      

      &:focus {

      }

      &:active {
        
      }

      >i{
        font-size: 14px;
      }
    }
  }


  /*        forms.css formAuth          */
  div.formAuth {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $form-auth-shadow-background;

    .form {
      max-width: 800px;
      margin: auto;
      background-color: transparent;

      > p {
        font-size: 20px;
      }

      > .userName, > input[type="password"] {
        height: 30px;

        font-size: 14px;
        padding: 0 14px;
      }

      > input[type="submit"] {
        height: 30px;

        font-size: 14px;
      }
    }
  }




}//END


@media screen and (max-width:479px) {
  /* Target portrait smartphones */

  .centered{
    max-width: 479px;
    min-width: 320px;
  }
  header{

    .centered{
      position: relative;
      
      .open-bar{
        display: block;
        position: absolute;
        top: 1px;
        right: 4px;
      
        cursor: pointer;
        padding: 4px 8px;

        >i{
          font-size: 18px;
        }
      }

      .bar{
        display: none;        
      }
      
      
      .nav{
        display: none;
      }

      .logoHome{
        >a{
          width: 200px;
          height: 28px;

          font-size: 18px;
        }
      }
    }
  }




  /*           content               */
  .content{
    width: 100%;

    .centered{
      overflow: hidden;
      padding: 10px;

      .container{
        width: 100%;
      }
    }
  }



  /*          content-box-big             */
  .box-big {
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
    padding: 10px;

    border-radius: 4px;
  }


  /*          content-box-small             */
  .box-small {
    width: 100%;
    margin: 20px 0;
    padding: 10px;

    border-radius: 4px;
  }



  //====================================================== 
  /*               post-text             */
  /*    все тексты связанные с постом    */
  p.post-text {
    font-size: 13px;

    margin-bottom: 3px;
  }

  /*              imgForPostGlobal             */
  img.imgPostGlobal{
    width: 100%;

    margin: 3px 0;
  }

  /*                  btn-close                  */
 .btn-close{
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;

    >i{
      font-size: 20px;
    }
  }

  /*              layer-post                */
  .layer-post{

    .head-layer-post{
      display: none;
    }

    .cont-layer-post{
      flex-direction: column;
      position: relative;

      width: 100%;
      height: 100%;
      
      .layer-left{
        width: 100%;
        margin: auto;

        .img-layer-post{

        }
      }

      .layer-right{
        display: flex;
        position: absolute;
        width: 100%;
        bottom: 0px;
    
        padding: 0;
        background-color: $text-layer-post-background-AND-box-shadow-for-small-screens;
        box-shadow: -5px -10px 10px 10px $text-layer-post-background-AND-box-shadow-for-small-screens;
        box-sizing: border-box;
    
        >p.text-layer-post{
          width: 100%;
          color: white;
          font-size: 12px;
          font-family: segoe-wp-light;
          
        }
    
        >div.bottom{
          display: none;
        }
      }
    }

    .foot-layer-post{
      display: none;
    }
  }

  /*              swipe-bar                */
  .swipe-bar{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -310px;
    bottom: 0;
    width: 300px;
    background-color: $swipe-bar-background-AND-box-shadow;
    box-shadow: -8px 0 10px 2px $swipe-bar-background-AND-box-shadow;

    transition: all .4s ease-in-out;
    


    .head-bar{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: 35px;
      background-color: $swipe-bar-head-bar-background;

      .button-user-natification{
        padding: 8px 8px;
        cursor: pointer;

        >i{
          color: $button-user-natification-color;
          font-size: 18px;
        }
      }

      .close-bar{
        padding: 8px 8px;
        cursor: pointer;
      
        > i{
          color: $close-bar-color;
          font-size: 18px;
        }
      }
    }

    .cont-bar{
      box-sizing: border-box;
      padding: 4px 10px;
      .nav{
    
        li{
          padding: 4px 0;
          border-bottom: 1px solid $nav-border-bottom-color;
          >a{
            font-family: segoe-print-bold;
            font-size: 16px;
            color: white;
            text-transform: capitalize;
            padding: 6px 0 5px;
          }
        }
      }
    }
  }





  // ===============ANOTHER FILE=================
  /*           forms.css postFormTypeTextGlobal               */
  form.post-form-type-text-global {
    
    >input[type="text"] {   
      height: 30px;

      font-size: 14px;

      padding: 0 10px;

    }

    >button[type="submit"] {      

      &:focus {

      }

      &:active {
        
      }

      >i{
        font-size: 14px;
      }
    }
  }


  /*         formAuth          */
  div.formAuth {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $form-auth-shadow-background;

    .form {
      max-width: 800px;
      margin: auto;
      background-color: transparent;

      > p {
        font-size: 20px;
      }

      > .userName, > input[type="password"] {
        height: 30px;

        font-size: 14px;
        padding: 0 14px;
      }

      > input[type="submit"] {
        height: 30px;

        font-size: 14px;
      }
    }
  }





  
}//END