@media screen and (min-width:480px) and (max-width:800px) {
  /* Target landscape smartphones, portrait tablets, narrow desktops*/
  .centered{
    max-width: 800px;
    min-width: 480px;
  }
  header{

    .centered{

      .nav{

        li{

          >a{
            font-size: 11px;
            
            padding: 6px 0 5px;
          }
        }
      }

      .logoHome{
        >a{
          width: 200px;
          height: 28px;

          font-size: 18px;
        }
      }
    }
  }




/*           content               */

.content{
  width: 100%;

  .centered{
    overflow: hidden;
    padding: 10px;

    .container-left{
      width: 45%;
    }
    
    .container-right{
      width: 45%;
    }

    .container-center{
      width: 10%;
      margin: 0 45%;  

      .vertical-line-top{
        width: 20px;
        height: 20px;
        margin: 0 auto;
        border: 3px solid #c4ffdd;
      }

      .vertical-line{
        margin: 0 auto;
        width: 4px;
      }
    }
  }
}




/*          content-box-big             */
.box-big {
  box-sizing: border-box;
  width: 100%;
  margin: 20px 0;
  padding: 10px;

  border-radius: 4px;
}


/*          content-box-small             */
.box-small {
  width: 100%;
  margin: 20px 0;
  padding: 10px;

  border-radius: 4px;
}





  /*            GLOBAL ELEMENTS          */
  /*-------------------------------------*/


  /*               post-text             */
  /*    все тексты связанные с постом    */
  p.post-text {
    font-size: 13px;

    margin-bottom: 3px;
  }



  /*              imgForPostGlobal             */
  img.imgPostGlobal{
    width: 100%;

    margin: 3px 0;
  }





  /*           shareGlobal               */
  div.shareGlobal {
    width: 100%;

    margin: 3px 0;

    > ul > li {
      display: inline-block;

      > a {
        width: 25px;
        height: 25px;

        margin: 0 5px;

      }
    }
  }




  /*           postFormTypeTextGlobal               */
  form.postFormTypeTextGlobal {
    width: 100%;
    margin: 5px 0;

    >input[type="text"] {
      width: 85%;
      height: 30px;

      font-size: 14px;

      padding: 0 10px;

    }

    >button[type="submit"] {
      width: 12%;
      height: 30px;


      &:focus {

      }

      &:active {
        
      }

      >i{
        font-size: 14px;

      }
    }
  }
  /*           END GLOBAL ELEMENTS          */
  // =========================================


  /*============forScript.scss============*/




/*            shadow-layer           */
.shadow-layer{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  

  .btn-close{
    position: sticky;
    top: 30px;
    left: 93%;
    z-index: 20;
    width: 35px;
    height: 35px;
    background: transparent;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    
    &:hover{
      border: 1px solid white;
      border-radius: 5px;
    }

    &:focus{
      outline: none;
    }

    >i {
      color: #fff;
    }
  }
}

//=================================================




/*         formAuth          */
.formAuth, .formRegistration {
  width: 100%;
  height: 100%;
  .form {
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 0;

    > p {
      font-size: 20px;
      margin-bottom: 10px;
    }

    > .userName, > input[type="email"], > input[type="password"] {
      width: 100%;
      height: 30px;

      border: 1px solid #1D2D3B;
      border-radius: 5px;

      font-size: 14px;
      padding: 0 14px;

      margin: 5px 0;

      box-shadow: 0 0 6px #000;
      box-sizing: border-box;
    }

    >.textOfImage{
      width: 40%;
      height: 30px;

      border: 1px solid #1D2D3B;
      border-radius: 5px;

      font-size: 14px;
      padding: 0 14px;

      margin: 5px 0;

      box-shadow: 0 0 6px #000;
      box-sizing: border-box;
    }
    >img{
      display: inline-block;
      float: right;
      width: 40%;
      height: 30px;

      border-radius: 5px;

      margin: 5px 0;

      box-shadow: 0 0 6px #000;
      box-sizing: border-box;
    }


    > input[type="submit"] {
      display: block;
      width: 95%;
      height: 30px;

      border: 1px solid #000;
      border-radius: 5px;

      font-size: 14px;

      margin: 5px auto;
      box-shadow: 0 0 6px #000;
      box-sizing: border-box;
    }

    > input[type="submit"]:focus, > .userName:focus, > input[type="email"]:focus, > input[type="password"]:focus, >.textOfImage:focus {
      // outline: none;
    }
  }
}






/*              layerPost                */
div.layer-post{
  position: fixed;
  box-sizing: border-box;
  z-index: 10;
  top:0;
  left: 0;
  width: 1024px;
  padding: 5px;

  border-radius: 5px;
 
  box-shadow: 0 0 10px rgba(0,0,0,0.5);



  .layer-left{
    display: block;
    float: left;
    width: 70%;
    height: 100%;

    border-radius: 4px;
    box-sizing: border-box;

    .img-layer-post{
      width: 100%;

    }
  }



  .layer-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: right;
    width: 29%;
    height: 100%;
    padding: 10px;

    border-radius: 4px;
    box-sizing: border-box;

    >p.text-layer-post{
      width: 100%;
      font-size: 15px;
      overflow: auto;
      
    }

    >div.bottom{
      
    }
  }

}

  /*============END forScript.scss============*/




}


@media screen and (max-width:479px) {
  /* Target portrait smartphones */
  .centered{
    max-width: 479px;
    
  }
}