@charset "UTF-8";
/*==========Цветовая палитра==========*/
/*==========Цветовая палитра==========*/
/*==========FONTS==========*/
@font-face {
  font-family: segoe-ui-sumbol;
  src: url("../fonts/segoe-ui-symbol.ttf"); }
@font-face {
  font-family: segoe-wp-light;
  src: url("../fonts/segoe-wp-light.ttf"); }
@font-face {
  font-family: segoe-print-bold;
  src: url("../fonts/segoe-print-bold.ttf"); }
@font-face {
  font-family: segoe-ui-bold-italic;
  src: url("../fonts/segoe-ui-bold-italic.ttf"); }
/*==========FONTS==========*/
/*            shadow-layer           */
/* line 38, scss/forScripts.scss */
.shadow-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: rgba(51, 50, 51, 0.685); }
  /* line 48, scss/forScripts.scss */
  .shadow-layer .btn-close {
    position: sticky;
    top: 30px;
    left: 93%;
    z-index: 20;
    width: 35px;
    height: 35px;
    background: transparent;
    border: none;
    cursor: pointer;
    box-sizing: border-box; }
    /* line 60, scss/forScripts.scss */
    .shadow-layer .btn-close:hover {
      border: 1px solid white;
      border-radius: 5px; }
    /* line 65, scss/forScripts.scss */
    .shadow-layer .btn-close:focus {
      outline: none; }
    /* line 69, scss/forScripts.scss */
    .shadow-layer .btn-close > i {
      color: #fff; }

/*         formAuth          */
/* line 111, scss/forScripts.scss */
.formAuth, .formRegistration {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  box-sizing: border-box; }
  /* line 116, scss/forScripts.scss */
  .formAuth .form, .formRegistration .form {
    width: 500px;
    background: rgba(60, 76, 90, 0.9);
    padding: 30px;
    border-radius: 10px; }
    /* line 122, scss/forScripts.scss */
    .formAuth .form > p, .formRegistration .form > p {
      font-family: segoe-wp-light;
      font-size: 30px;
      margin-bottom: 10px; }
    /* line 128, scss/forScripts.scss */
    .formAuth .form > .userName, .formAuth .form > input[type="email"], .formAuth .form > input[type="password"], .formRegistration .form > .userName, .formRegistration .form > input[type="email"], .formRegistration .form > input[type="password"] {
      width: 100%;
      height: 40px;
      border: 1px solid #1D2D3B;
      border-radius: 5px;
      font-family: segoe-wp-light;
      font-size: 20px;
      padding: 0 20px;
      margin: 5px 0;
      background: rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 6px #000;
      box-sizing: border-box; }
    /* line 146, scss/forScripts.scss */
    .formAuth .form > .textOfImage, .formRegistration .form > .textOfImage {
      width: 40%;
      height: 40px;
      border: 1px solid #1D2D3B;
      border-radius: 5px;
      font-family: segoe-wp-light;
      font-size: 20px;
      padding: 0 20px;
      margin: 5px 0;
      background: rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 6px #000;
      box-sizing: border-box; }
    /* line 163, scss/forScripts.scss */
    .formAuth .form > img, .formRegistration .form > img {
      display: inline-block;
      float: right;
      width: 40%;
      height: 40px;
      border-radius: 5px;
      margin: 5px 0;
      box-shadow: 0 0 6px #000;
      box-sizing: border-box; }
    /* line 178, scss/forScripts.scss */
    .formAuth .form > input[type="submit"], .formRegistration .form > input[type="submit"] {
      display: block;
      width: 95%;
      height: 40px;
      border: 1px solid #000;
      border-radius: 5px;
      font-family: segoe-wp-light;
      font-size: 20px;
      margin: 5px auto;
      background: rgba(32, 117, 189, 0.9);
      box-shadow: 0 0 6px #000;
      box-sizing: border-box; }

/*              layerPost                */
/* line 207, scss/forScripts.scss */
div.layer-post {
  position: fixed;
  box-sizing: border-box;
  z-index: 10;
  top: 0;
  left: 0;
  width: 1024px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  /* line 222, scss/forScripts.scss */
  div.layer-post .layer-left {
    display: block;
    float: left;
    width: 70%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-sizing: border-box; }
    /* line 232, scss/forScripts.scss */
    div.layer-post .layer-left .img-layer-post {
      width: 100%; }
  /* line 240, scss/forScripts.scss */
  div.layer-post .layer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: right;
    width: 29%;
    height: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    box-sizing: border-box; }
    /* line 253, scss/forScripts.scss */
    div.layer-post .layer-right > p.text-layer-post {
      width: 100%;
      color: #040615;
      font-size: 15px;
      font-family: segoe-wp-light;
      overflow: auto; }

/*# sourceMappingURL=forScripts.css.map */
