@charset "UTF-8";
/*==========Цветовая палитра==========*/
/*==========Цветовая палитра==========*/
/*==========FONTS==========*/
@font-face {
  font-family: segoe-ui-sumbol;
  src: url("../fonts/segoe-ui-symbol.ttf"); }
@font-face {
  font-family: segoe-wp-light;
  src: url("../fonts/segoe-wp-light.ttf"); }
@font-face {
  font-family: segoe-print-bold;
  src: url("../fonts/segoe-print-bold.ttf"); }
@font-face {
  font-family: segoe-ui-bold-italic;
  src: url("../fonts/segoe-ui-bold-italic.ttf"); }
/*==========FONTS==========*/
* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #9eb9b3;
  font-family: segoe-wp-light;
  font-size: 16px;
  font-weight: normal; }

body {
  width: 100%;
  min-height: 100%;
  position: relative; }

.main {
  width: 100%;
  min-height: 100%;
  background-color: #00070a; }

.centered {
  max-width: 1024px;
  min-width: 680px;
  margin: 0 auto;
  box-sizing: border-box; }

/*        header        */
header {
  width: 100%;
  position: sticky;
  z-index: 4;
  top: 0;
  background: #294552; }
  header .centered {
    overflow: hidden;
    padding: 0 5px; }
    header .centered .open-bar {
      display: none; }
    header .centered .bar {
      float: right;
      margin-left: 10px; }
      header .centered .bar .button-user-natification {
        display: inline-block;
        padding: 8px 8px;
        cursor: pointer; }
        header .centered .bar .button-user-natification > i {
          font-size: 18px; }
    header .centered .nav {
      float: right;
      width: 50%;
      text-align: right;
      margin-right: 10px; }
      header .centered .nav li {
        display: inline-block;
        margin-left: 10px; }
        header .centered .nav li > a {
          display: inline-block;
          font-family: segoe-print-bold;
          font-size: 14px;
          text-transform: capitalize;
          padding: 8px 0 6px;
          border-bottom: 2px solid transparent;
          cursor: pointer;
          transition: all 200ms linear; }
          header .centered .nav li > a:last-child {
            padding-right: 0; }
          header .centered .nav li > a:hover {
            border-bottom: 2px solid #fff; }
    header .centered .logoHome {
      text-align: left; }
      header .centered .logoHome > a {
        display: block;
        width: 200px;
        height: 35px;
        font-family: segoe-print-bold;
        font-size: 20px;
        padding: 2px 0;
        color: #9eb9b3; }

/*           content               */
.content {
  width: 100%; }
  .content .centered {
    overflow: hidden;
    padding: 30px; }
    .content .centered .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%; }

/** =========================================== */
/*          content-box-big             */
.one-in-one {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  margin: 10px auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); }
  .one-in-one > .cont {
    position: absolute;
    z-index: 1; }
  .one-in-one > img {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 0; }

/*=='two-in-one'==*/
.two-in-one {
  display: flex;
  box-sizing: border-box;
  width: 49%;
  margin: 10px auto;
  position: relative;
  z-index: 0;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); }
  .two-in-one > .cont {
    position: absolute;
    z-index: 1;
    display: block;
    width: 60%;
    left: 0;
    top: 0;
    bottom: 0;
    background: #872c3b;
    background: -moz-linear-gradient(left, #872c3b 0%, rgba(112, 36, 49, 0.56) 44%, rgba(86, 26, 36, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #872c3b), color-stop(44%, rgba(112, 36, 49, 0.56)), color-stop(100%, rgba(86, 26, 36, 0)));
    background: -webkit-linear-gradient(left, #872c3b 0%, rgba(112, 36, 49, 0.56) 44%, rgba(86, 26, 36, 0) 100%);
    background: -o-linear-gradient(left, #872c3b 0%, rgba(112, 36, 49, 0.56) 44%, rgba(86, 26, 36, 0) 100%);
    background: -ms-linear-gradient(left, #872c3b 0%, rgba(112, 36, 49, 0.56) 44%, rgba(86, 26, 36, 0) 100%);
    background: linear-gradient(to right, #872c3b 0%, rgba(112, 36, 49, 0.56) 44%, rgba(86, 26, 36, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#872c3b', endColorstr='#561a24', GradientType=1 ); }
  .two-in-one > img {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%; }

/*=='three-in-one'==*/
.three-in-one {
  display: flex;
  box-sizing: border-box;
  width: 32%;
  margin: 10px auto;
  position: relative;
  z-index: 0;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); }
  .three-in-one > .cont {
    position: absolute;
    z-index: 1;
    display: block;
    width: 60%;
    left: 0;
    top: 0;
    bottom: 0;
    background: #872c3b;
    background: -moz-linear-gradient(left, #872c3b 0%, rgba(112, 36, 49, 0.56) 44%, rgba(86, 26, 36, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #872c3b), color-stop(44%, rgba(112, 36, 49, 0.56)), color-stop(100%, rgba(86, 26, 36, 0)));
    background: -webkit-linear-gradient(left, #872c3b 0%, rgba(112, 36, 49, 0.56) 44%, rgba(86, 26, 36, 0) 100%);
    background: -o-linear-gradient(left, #872c3b 0%, rgba(112, 36, 49, 0.56) 44%, rgba(86, 26, 36, 0) 100%);
    background: -ms-linear-gradient(left, #872c3b 0%, rgba(112, 36, 49, 0.56) 44%, rgba(86, 26, 36, 0) 100%);
    background: linear-gradient(to right, #872c3b 0%, rgba(112, 36, 49, 0.56) 44%, rgba(86, 26, 36, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#872c3b', endColorstr='#561a24', GradientType=1 ); }
  .three-in-one > img {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%; }

/** =========================================== */
/*          content-box-small             */
.small-one-in-one {
  box-sizing: border-box;
  width: 100%;
  margin: 10px auto;
  padding: 18px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); }

/*               post-text             */
/*    все тексты связанные с постом    */
/*              imgForPostGlobal             */
/*                       btn-close                       */
.btn-close {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 9999;
  width: 35px;
  height: 35px;
  background: transparent;
  border: none;
  cursor: pointer;
  box-sizing: border-box; }
  .btn-close:hover {
    border: 1px solid white;
    border-radius: 5px; }
  .btn-close:focus {
    outline: none; }
  .btn-close > i {
    color: #fff;
    font-size: 30px; }

/*              layer-post                */
.layer-post {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6); }
  .layer-post .head-layer-post {
    display: none; }
  .layer-post .cont-layer-post {
    display: flex;
    flex-direction: row;
    max-width: 1024px;
    height: 490px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    .layer-post .cont-layer-post .layer-left {
      display: flex;
      width: 70%;
      margin: auto;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      box-sizing: border-box;
      padding-right: 6px; }
      .layer-post .cont-layer-post .layer-left .img-layer-post {
        margin: auto; }
    .layer-post .cont-layer-post .layer-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30%;
      padding: 10px;
      background-color: white;
      border-radius: 4px;
      box-sizing: border-box; }
      .layer-post .cont-layer-post .layer-right > p.text-layer-post {
        width: 100%;
        color: #fff;
        font-size: 15px;
        font-family: segoe-wp-light;
        overflow: auto; }
  .layer-post .foot-layer-post {
    display: none; }

/*              swipe-bar                */
.swipe-bar {
  display: none; }

/*# sourceMappingURL=main.css.map */
