//@import url("forScript.css") ;
@font-face {
  font-family: segoe-ui-sumbol;
  src: url("../fonts/segoe-ui-symbol.ttf");
}

@font-face {
  font-family: segoe-wp-light;
  src: url("../fonts/segoe-wp-light.ttf");
}

@font-face {
  font-family: segoe-print-bold;
  src: url("../fonts/segoe-print-bold.ttf");
}

@font-face {
  font-family: segoe-ui-bold-italic;
  src: url("../fonts/segoe-ui-bold-italic.ttf");
}

* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;

  color: #fff;
  font-family: segoe-wp-light;
  font-size: 16px;
  font-weight: normal;
}

body {
  width: 100%;
  position: relative;

}

.main {
  width: 100%;

  background-color: #3C4C5A;
}

.centered {
  max-width: 1024px;
  min-width: 680px;
  margin: 0 auto;
  box-sizing: border-box;
}

/*        header        */

header {
  width: 100%;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #fff;

  background: linear-gradient(0deg, transparent, rgba(255, 255, 255, 0.4));

  .centered {
    overflow: hidden;

    .nav {
      float: right;
      text-align: right;

      li {
        display: inline-block;
        margin-left: 10px;

        a {
          display: inline-block;
          font-family: segoe-print-bold;
          font-size: 16px;
          text-transform: capitalize;

          padding: 12px 5px 10px;
          border-bottom: 2px solid transparent;

          transition: all 200ms linear;
          &:last-child {
            padding-right: 0;
          }
          &:hover{
            border-bottom: 2px solid #fff;
          }
        }
      }
    }

    .logoHome {
      text-align: left;

      a {
        display: block;

        width: 200px;
        height: 50px;

        background: url("../img/reallife---.png") no-repeat center;
        background-size: 150px 45px;
      }
    }
  }
}


/*           intro           */

.intro{
  width: 100%;
  text-align: center;

  .centered{

    .introLogo{
      width: 100%;
      height: 220px;

      margin: 20px 0;

      background: url("../img/reallife---.png") no-repeat center;
      background-size: 50% 50%;
    }

    h1 {
      font-family: segoe-wp-light;
      font-size: 50px;
      color: inherit;

      margin-top: 30px;
      margin-bottom: 25px;
    }

    p {
      width: 75%;
      font-family: segoe-ui-sumbol;
      font-size: 15px;
      color: inherit;

      margin: 25px auto 40px;
    }
  }
}

/*           content               */

.content{
  width: 100%;

  .centered{
    overflow: hidden;
    padding: 60px;

    .container-left{
      float: left;
      width: 40%;
    }
    .container-tight{
      float: right;
      width: 40%;
    }
    .container-center{
      width: 10%;
      margin: 0 45%;
      
      .vertical-line-top{
        width: 25px;
        height: 25px;
        margin: 0 auto;
        border: 5px solid #ffffff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }

      .vertical-line{
        margin: 0 auto;
        display: block;
        width: 6px;
        background-color: #ffffff;
      }
    }
  }
}

/*          content-box-big             */
.box-big {
  box-sizing: border-box;
  width: 100%;
  margin: 30px 0;
  padding: 18px;

  border-radius: 10px;
  background-color: #fff;

  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/*          content-box-small             */
.box-small {
  box-sizing: border-box;
  width: 100%;
  margin: 30px 0;
  padding: 18px;

  border-radius: 10px;
  background-color: #fff;
  position: relative;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  p {
    display: inline-block;
    width: 70%;

    font-family: segoe-wp-light;
    font-size: 20px;
    color: #4e4e4e;

    margin-bottom: 5px;
  }

  button {
    position: absolute;
    top: 18px;
    right: 18px;
    text-align: right;
    margin-left: 10px;
    width: 33px;
    height: 33px;

    border: 0;
    background: url("../img/buttonAddSprite.png") no-repeat;
    background-position: -33px 0;

    &:focus {
      outline: none;
    }
    &:active {
      outline: none;
      background: url("../img/buttonAddSprite.png") no-repeat;
      background-position: 0 0;
    }
  }
}










/*            GLOBAL ELEMENTS          */
/*              imgForPostGlobal             */
img.imgForPostGlobal{
  box-sizing: border-box;
  width: 100%;

  margin: 5px 0;
}

/*          textAndLinkForPostGlobal             */
a.textAndLinkForPostGlobal {
  display: block;
  font-family: segoe-wp-light;
  font-size: 20px;
  color: #4e4e4e;

  margin-bottom: 5px;
}

/*           shareGlobal               */
div.shareGlobal {
  box-sizing: border-box;
  width: 100%;

  margin: 5px 0;

  > ul > li {
    display: inline-block;

    > a {
      display: block;
      width: 25px;
      height: 25px;

      margin: 0 5px;
      background: url("../img/socSprite.png") no-repeat;

    }

    > a.link {
      background-position: -63px -11px;
    }

    > a.vk {
      background-position: -7px -40px;
    }

    > a.ok {
      background-position: -119px -40px;
    }

    > a.tw {
      background-position: -35px -11px;
    }
  }
}

/*           postFormTypeTextGlobal               */
form.postFormTypeTextGlobal {
  margin: 5px 0;

  >input[type="text"] {
    vertical-align: top;
    width: 70%;
    height: 50px;

    font-family: segoe-wp-light;
    font-size: 20px;
    color: #4e4e4e;

    padding: 0 10px;
    border: 1px solid #d6d6d6;
    border-radius: 3px;

    background-color: #f2f2f2;
  }

  >input[type="submit"] {
    vertical-align: top;
    float: right;
    width: 50px;
    height: 50px;

    border: 0;
    background: url("../img/inputSprite.png") no-repeat;
    background-position: 0 0;

    &:focus {
      outline: none;
    }

    &:active {
      outline: none;
      background: url("../img/inputSprite.png") no-repeat;
      background-position: -53px 0;
    }
  }
}
/*           END GLOBAL ELEMENTS          */

