@charset "UTF-8";
/*==========Цветовая палитра==========*/
/*==========Цветовая палитра==========*/
/*==========FONTS==========*/
@font-face {
  font-family: segoe-ui-sumbol;
  src: url("../fonts/segoe-ui-symbol.ttf"); }
@font-face {
  font-family: segoe-wp-light;
  src: url("../fonts/segoe-wp-light.ttf"); }
@font-face {
  font-family: segoe-print-bold;
  src: url("../fonts/segoe-print-bold.ttf"); }
@font-face {
  font-family: segoe-ui-bold-italic;
  src: url("../fonts/segoe-ui-bold-italic.ttf"); }
/*==========FONTS==========*/
/* line 37, scss/main.scss */
* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #040615;
  font-family: segoe-wp-light;
  font-size: 16px;
  font-weight: normal; }

/* line 49, scss/main.scss */
body {
  width: 100%;
  position: relative; }

/* line 54, scss/main.scss */
.main {
  width: 100%;
  background-color: #003545; }

/* line 60, scss/main.scss */
.centered {
  max-width: 1024px;
  min-width: 680px;
  margin: 0 auto;
  box-sizing: border-box; }

/*        header        */
/* line 69, scss/main.scss */
header {
  width: 100%;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #fff;
  background: #c4ffdd; }
  /* line 79, scss/main.scss */
  header .centered {
    overflow: hidden;
    padding: 0 5px; }
    /* line 84, scss/main.scss */
    header .centered .nav {
      float: right;
      text-align: right;
      margin-right: 10px; }
      /* line 89, scss/main.scss */
      header .centered .nav li {
        display: inline-block;
        margin-left: 10px; }
        /* line 93, scss/main.scss */
        header .centered .nav li > a {
          display: inline-block;
          font-family: segoe-print-bold;
          font-size: 14px;
          text-transform: capitalize;
          padding: 8px 0 6px;
          border-bottom: 2px solid transparent;
          cursor: pointer;
          transition: all 200ms linear; }
          /* line 104, scss/main.scss */
          header .centered .nav li > a:last-child {
            padding-right: 0; }
          /* line 107, scss/main.scss */
          header .centered .nav li > a:hover {
            border-bottom: 2px solid #fff; }
    /* line 114, scss/main.scss */
    header .centered .logoHome {
      text-align: left; }
      /* line 117, scss/main.scss */
      header .centered .logoHome > a {
        display: block;
        width: 200px;
        height: 35px;
        font-family: segoe-print-bold;
        font-size: 20px;
        padding: 2px 0;
        color: #040615; }

/*           content               */
/* line 142, scss/main.scss */
.content {
  width: 100%; }
  /* line 145, scss/main.scss */
  .content .centered {
    overflow: hidden;
    padding: 30px; }
    /* line 149, scss/main.scss */
    .content .centered .container-left {
      float: left;
      width: 45%; }
    /* line 154, scss/main.scss */
    .content .centered .container-right {
      float: right;
      width: 45%; }
    /* line 159, scss/main.scss */
    .content .centered .container-center {
      width: 10%;
      margin: 0 45%; }
      /* line 162, scss/main.scss */
      .content .centered .container-center .vertical-line-top {
        width: 25px;
        height: 25px;
        margin: 0 auto;
        border: 5px solid #c4ffdd;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
      /* line 171, scss/main.scss */
      .content .centered .container-center .vertical-line {
        margin: 0 auto;
        display: block;
        width: 6px;
        background-color: #c4ffdd; }

/*          content-box-big             */
/* line 185, scss/main.scss */
.box-big {
  box-sizing: border-box;
  width: 100%;
  margin: 30px 0;
  padding: 18px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

/*          content-box-small             */
/* line 200, scss/main.scss */
.box-small {
  box-sizing: border-box;
  width: 100%;
  margin: 30px 0;
  padding: 18px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  /* line 211, scss/main.scss */
  .box-small button {
    position: absolute;
    top: 18px;
    right: 18px;
    text-align: right;
    margin-left: 10px;
    width: 33px;
    height: 33px;
    border: 0;
    background: url("../img/buttonAddSprite.png") no-repeat;
    background-position: -33px 0; }
    /* line 224, scss/main.scss */
    .box-small button:focus {
      outline: none; }
    /* line 227, scss/main.scss */
    .box-small button:active {
      outline: none;
      background: url("../img/buttonAddSprite.png") no-repeat;
      background-position: 0 0; }

/*            GLOBAL ELEMENTS          */
/*-------------------------------------*/
/*               post-text             */
/*    все тексты связанные с постом    */
/* line 250, scss/main.scss */
p.post-text {
  display: inline-block;
  font-family: segoe-wp-light;
  font-size: 16px;
  color: #040615;
  margin-bottom: 5px; }

/*              imgForPostGlobal             */
/* line 263, scss/main.scss */
img.imgPostGlobal {
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0; }

/*           shareGlobal               */
/* line 275, scss/main.scss */
div.shareGlobal {
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0; }
  /* line 281, scss/main.scss */
  div.shareGlobal > ul > li {
    display: inline-block; }
    /* line 284, scss/main.scss */
    div.shareGlobal > ul > li > a {
      display: block;
      width: 25px;
      height: 25px;
      margin: 0 5px;
      background: url("../img/socSprite.png") no-repeat; }
    /* line 294, scss/main.scss */
    div.shareGlobal > ul > li > a.link {
      background-position: -63px -11px; }
    /* line 298, scss/main.scss */
    div.shareGlobal > ul > li > a.vk {
      background-position: -7px -40px; }
    /* line 302, scss/main.scss */
    div.shareGlobal > ul > li > a.ok {
      background-position: -119px -40px; }
    /* line 306, scss/main.scss */
    div.shareGlobal > ul > li > a.tw {
      background-position: -35px -11px; }

/*           postFormTypeTextGlobal               */
/* line 316, scss/main.scss */
form.postFormTypeTextGlobal {
  margin: 5px 0; }
  /* line 319, scss/main.scss */
  form.postFormTypeTextGlobal > input[type="text"] {
    vertical-align: top;
    width: 70%;
    height: 50px;
    font-family: segoe-wp-light;
    font-size: 20px;
    color: #4e4e4e;
    padding: 0 10px;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    background-color: #f2f2f2; }
  /* line 335, scss/main.scss */
  form.postFormTypeTextGlobal > input[type="submit"] {
    vertical-align: top;
    float: right;
    width: 50px;
    height: 50px;
    border: 0;
    background: url("../img/inputSprite.png") no-repeat;
    background-position: 0 0; }
    /* line 345, scss/main.scss */
    form.postFormTypeTextGlobal > input[type="submit"]:focus {
      outline: none; }
    /* line 349, scss/main.scss */
    form.postFormTypeTextGlobal > input[type="submit"]:active {
      outline: none;
      background: url("../img/inputSprite.png") no-repeat;
      background-position: -53px 0; }

/*           END GLOBAL ELEMENTS          */

/*# sourceMappingURL=main.css.map */
