@charset "UTF-8";
@media screen and (min-width: 480px) and (max-width: 800px) {
  /* Target landscape smartphones, portrait tablets, narrow desktops*/
  /* line 11, scss/media.scss */
  .centered {
    max-width: 800px;
    min-width: 480px; }

  /* line 17, scss/media.scss */
  header .centered {
    position: relative; }
    /* line 20, scss/media.scss */
    header .centered .button-nav {
      display: block;
      position: absolute;
      top: 1px;
      right: 6px;
      padding: 4px 8px;
      border: 1px solid black;
      border-radius: 3px; }
    /* line 31, scss/media.scss */
    header .centered .nav {
      position: absolute;
      top: 0;
      right: -70%;
      width: 70%; }
      /* line 38, scss/media.scss */
      header .centered .nav li > a {
        font-size: 11px;
        padding: 6px 0 5px; }
    /* line 47, scss/media.scss */
    header .centered .logoHome > a {
      width: 200px;
      height: 28px;
      font-size: 18px; }

  /*           content               */
  /* line 62, scss/media.scss */
  .content {
    width: 100%; }
    /* line 65, scss/media.scss */
    .content .centered {
      overflow: hidden;
      padding: 10px; }
      /* line 69, scss/media.scss */
      .content .centered .container-left {
        width: 45%; }
      /* line 73, scss/media.scss */
      .content .centered .container-right {
        width: 45%; }
      /* line 77, scss/media.scss */
      .content .centered .container-center {
        width: 10%;
        margin: 0 45%; }
        /* line 81, scss/media.scss */
        .content .centered .container-center .vertical-line-top {
          width: 20px;
          height: 20px;
          margin: 0 auto;
          border: 3px solid #c4ffdd; }
        /* line 88, scss/media.scss */
        .content .centered .container-center .vertical-line {
          margin: 0 auto;
          width: 4px; }

  /*          content-box-big             */
  /* line 100, scss/media.scss */
  .box-big {
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    border-radius: 4px; }

  /*          content-box-small             */
  /* line 111, scss/media.scss */
  .box-small {
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    border-radius: 4px; }

  /*            GLOBAL ELEMENTS          */
  /*-------------------------------------*/
  /*               post-text             */
  /*    все тексты связанные с постом    */
  /* line 129, scss/media.scss */
  p.post-text {
    font-size: 13px;
    margin-bottom: 3px; }

  /*              imgForPostGlobal             */
  /* line 138, scss/media.scss */
  img.imgPostGlobal {
    width: 100%;
    margin: 3px 0; }

  /*           shareGlobal               */
  /* line 149, scss/media.scss */
  div.shareGlobal {
    width: 100%;
    margin: 3px 0; }
    /* line 154, scss/media.scss */
    div.shareGlobal > ul > li {
      display: inline-block; }
      /* line 157, scss/media.scss */
      div.shareGlobal > ul > li > a {
        width: 25px;
        height: 25px;
        margin: 0 5px; }

  /*           postFormTypeTextGlobal               */
  /* line 173, scss/media.scss */
  form.postFormTypeTextGlobal > input[type="text"] {
    height: 30px;
    font-size: 14px;
    padding: 0 10px; }
  /* line 192, scss/media.scss */
  form.postFormTypeTextGlobal > button[type="submit"] > i {
    font-size: 14px; }

  /*           END GLOBAL ELEMENTS          */
  /*============forScript.scss============*/
  /*            shadow-layer           */
  /* line 209, scss/media.scss */
  .shadow-layer .btn-close {
    position: fixed;
    z-index: 20; }

  /*         formAuth          */
  /* line 235, scss/media.scss */
  .formAuth .form, .formRegistration .form {
    width: 350px;
    height: 250px; }
    /* line 240, scss/media.scss */
    .formAuth .form > p, .formRegistration .form > p {
      font-size: 20px; }
    /* line 244, scss/media.scss */
    .formAuth .form > .userName, .formAuth .form > input[type="password"], .formRegistration .form > .userName, .formRegistration .form > input[type="password"] {
      height: 30px;
      font-size: 14px;
      padding: 0 14px; }
    /* line 251, scss/media.scss */
    .formAuth .form > input[type="submit"], .formRegistration .form > input[type="submit"] {
      height: 30px;
      font-size: 14px; }

  /*              layerPost                */
  /* line 265, scss/media.scss */
  div.layer-post {
    padding: 5px; }
    /* line 268, scss/media.scss */
    div.layer-post .layer-left {
      float: none;
      margin: 0 auto; }
    /* line 279, scss/media.scss */
    div.layer-post .layer-right {
      display: none; }

  /*============END forScript.scss============*/ }
@media screen and (max-width: 479px) {
  /* Target portrait smartphones */ }

/*# sourceMappingURL=media.css.map */
